body {
    font-family: "Comfortaa", sans-serif;
    background-color: #e7e2e0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 16px 32px;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo {
    font-family: "Baskervville SC", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #c9a793;
    width: 115;
    height: 24;
    margin-right: 76px;
}

header {
    background-color: rgb(70, 68, 67);
}

.nav {
    width: 1158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 36px;
    align-items: stretch;
    margin: 0;
}

.header-container {
    height: 64px;
    display: flex;
    align-items: center;
}

.nav-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #fff;
    transition: color 250ms ease-in-out;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: #c9a793;
}

.language-item {
    color: black;
}

.language-item:hover,
.language-item:focus {
    color: #fff;
}

/* Hero */
.hero {
    background-color: #9c6f55;
    height: 432px;
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.hero-container {
    max-width: 100%;
    height: 100%;

}
.hero-title {
    font-weight: 300;
    /* font-size: 48px; */
    font-size: 30px;
    line-height: 107%;
    letter-spacing: 0.02em;
    /* margin-bottom: 360px; */
    margin-bottom: 180px;
    color: rgb(231, 231, 230);
    text-shadow: black;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #c9a793;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 8px;
    transition: background-color 250ms ease-in;
}
.button:hover, .button:focus {
    background-color: #9c6f55
}
/* Me */
.me-section {
    background-color: #e7e2e0;
}
.me-container {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}
.me-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400; 
    font-size: 32px;
}
.me-description {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    width: 280px;
    margin-top: 8px;
    margin-bottom: 40px;
}
.me-quote {
    font-family: "Great Vibes", sans-serif;
    font-size: 50px;
    color: #c9a793;
}

.me-photo {
    border-radius: 8px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

/* Portfolio */
.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 144px; */
    gap: 24px;
}

.portfolio-item {
    width: 280px;
    height: 420px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms ease-in-out;


}

.portfolio-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    position: absolute;
    width: 100%;
    padding: 20px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;

}

.portfolio-image {
    border-radius: 12px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    transform: scaleX(110%) scaleY(110%);
}

/* Prices */

.prices-section {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 32px;

}

.prices-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 140px; */
    gap: 60px;
}

.price-item-title {
    margin-bottom: 8px;
}

.price-includes-list {
}

.price {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    text-align: center;
    background-color: #c9a793;
    color: #fff;
    width: 120px;
}
.price-last {
    margin-top: 20px;
}
.price-photo {
    border-radius: 4px;
}
/* footer */

footer {
    background-color: rgb(70, 68, 67);
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width:1158px) {
    .hero {
        background-image: url(../images/hero-color.png);
        height: 600px;
    }
    
}